.container {
	margin-top: 20px;
}

.texto {
	background-color: midnightblue;
	width: 80%;
  margin: 3rem auto;
	text-align: center;
	height: max-content;
	border-radius: 2em;
}

.botao {
	background-color: #eb2409;
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
  width: 100%;
}

.botao:hover {
	background-color: #a01604;
}

.logo-col {
	text-align: center;
}

.row {
	margin-top: 2em;
}

.logo {
	width: 20em;
	margin-top: 2em;
}

.video {
	width: 80%;
	height: 18.75rem;
}

.foto {
	width: 25em;
  margin-top: 3rem;
}

.rodape {
	background-color: #fff;
	width: 100%;
	text-align: center;
	margin-bottom: 0px !important;
	height: 3em;
	display: flex;
	justify-content: center;
	justify-items: center;
	
}

.rodape p {
	margin-bottom: 0px !important;
	font-size: 1.2em;
	font-weight: bold;
}

.agradece {
	background-color: #fff;
	width: 100%;
	text-align: center;
	height: 3em;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.logo {
		margin-top: 0;
	}

	.col-12 {
		margin-top: 3em;
		padding-left: 2em;
		padding-right: 2em;
	}

	.foto {
		width: 15em;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.logo {
		margin-top: 0;
	}

	.col-12 {
		margin-top: 3em;
		text-align: center;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}

	.col-12 iframe {
		margin: 0 auto;
	}

	.foto {
		width: 15em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.logo {
		margin-top: 0;
	}

	.col-12 {
		margin-top: 3em;
		text-align: center;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.col-lg-6 {
		text-align: center;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.col-lg-6 {
		text-align: center;
	}
}

